<!DOCTYPE html>
<html>
<head>
  <title>Finance Control</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "import_head" %>
</head>
<body>
	<div id="wrapper">
		<%= render "navigation" %>
		<div id="page-wrapper">
		<%= yield %>
		</div>
	    <!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<%= render "import_body" %>
</body>
</html>
